body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #chat {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
  }
  
  #messages .message {
    margin-bottom: 10px;
  }
  
  #messages .bot {
    font-weight: bold;
    color: #5c6bc0;
  }
  
  #form {
    display: flex;
  }
  
  #input {
    flex-grow: 1;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  button {
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #5c6bc0;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
